<%= form_for @todo, :html => { :class => 'form-horizontal', id: 'new_todo' } do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <div>
      <%= f.text_field :name, :class => 'timer text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start %>
    <div>
      <%= f.time_select :start, class: "chosen" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end %>
    <div>
      <%= f.time_select :end, class: "chosen" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
             morning_todos_path , :class => 'btn' %>
  </div>
<% end %>
